
.contact-section .contact-info p a {
  color: #1a1a1a;
}

.contact-section .box {
  width: 100%;
  display: block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.contact-section .box .icon {
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.1);
  margin: 0 auto;
  margin-bottom: 2em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.contact-section .box .icon span {
  color: #ffbd39;
  font-size: 30px;
}
.contact-section .box h3 {
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
}

.contact-section .contact-form {
  width: 100%;
}

.contact-section .img {
  width: 100%;
  background-position: top center;
}
.contact-section .contact-info p a {
  color: #fff;
}

.contact-section .contact-form {
  width: 100%;
}
.bg-light {
  background: #f8f9fa !important;
}
