
@media (max-width: 1199.98px) {
  .ftco-counter {
    background-position: center center !important; } }

.ftco-counter .block-18 {
  display: block;
  width: 100%;
  text-align: center;
  background: #191919;
  padding: 30px 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.ftco-counter .text strong.number {
  font-weight: 700;
  font-size: 30px;
  color: #ffbd39;
  display: block; }

.ftco-counter .text span {
  display: block;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8); }

@media (max-width: 767.98px) {
  .ftco-counter .counter-wrap {
    margin-bottom: 20px; } }

.ftco-counter .ftco-number {
  display: block;
  font-size: 72px;
  font-weight: bold;
  color: #ffbd39; }

.ftco-counter .ftco-label {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .1em; }


  .ftco-hireme {
    background: #ffbd39;
    z-index: -1; }
    .ftco-hireme h2 {
      color: #fff;
      font-size: 40px;
      font-weight: 900; }
      .ftco-hireme h2 span {
        color: #ffbd39; }


        .ftco-counter .block-18 {
          display: block;
          width: 100%;
          text-align: center;
          background: #191919;
          padding: 30px 20px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          border-radius: 5px;
        }

        .ftco-counter .text strong.number {
          font-weight: 700;
          font-size: 30px;
          color: #ffbd39;
          display: block;
        }

        .ftco-counter .text span {
          display: block;
          font-size: 16px;
          color: rgba(255, 255, 255, 0.8);
        }

        .ftco-counter .ftco-number {
          display: block;
          font-size: 72px;
          font-weight: bold;
          color: #ffbd39;
        }

        .ftco-counter .ftco-label {
          font-size: 12px;
          text-transform: uppercase;
          letter-spacing: 0.1em;
        }

        .ftco-hireme {
          background: #ffbd39;
          z-index: -1;
        }
        .ftco-hireme h2 {
          color: #fff;
          font-size: 40px;
          font-weight: 900;
        }
        .ftco-hireme h2 span {
          color: #ffbd39;
        }
