<section class="ftco-about img ftco-section ftco-no-pb pb-5 pt-5" id="about">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-6 col-lg-5 d-flex">
        <div class="img-about img d-flex align-items-stretch">
          <div class="img d-flex align-self-stretch align-items-center"
            style="background-image:url(images/about1.png);background-size: cover;">
            <img src="//public/images/about.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-7 pl-lg-5 pb-5">
        <div class="row justify-content-start pb-3">
          <div class="col-md-12 heading-section ftco-animate">
            <h1 class="big">About</h1>
            <h2 class="mb-4">About Me</h2>

            <ul class="about-info mt-4 px-md-0 px-2">
              <li class="d-flex"><span>Name:</span> <span>Akshay Wakle</span></li>
              <li class="d-flex"><span>Date of birth:</span> <span>November 13, 1997</span></li>
              <li class="d-flex"><span>Address:</span> <span>Pune, Maharashtra, India</span></li>
              <li class="d-flex"><span>Zip code:</span> <span>411041</span></li>
              <!-- <li class="d-flex"><span>Email:</span> <a  href="mailto:webdev.akshay&#64;gmail.com" style="color: #999999;"><span>webdev.akshay&#64;gmail.com</span></li> -->
              <li class="d-flex"><span>Phone: </span> <span>+91-9823954502</span></li>
            </ul>
          </div>
        </div>
        <div class="counter-wrap ftco-animate d-flex mt-md-3">
          <div class="text">
            <p class="mb-4">
              <span class="number" data-number="10">10 &nbsp;</span>
              <span>Project complete</span>
            </p>
            <p><a href="#" class="btn btn-primary py-3 px-3">Download Resume</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
