<div id="home" class="pt-5 mt-5">
  <div id="carouselExample" class="carousel slide hero" data-bs-ride="carousel" data-bs-interval="3000">
    <div class="carousel-inner home-slider">
      <div class="carousel-item active pb-5 mb-5">
          <div class="container">
            <div class="row d-md-flex  align-items-end justify-content-center">
              <div class="col-md-12">
                <div class=" d-flex align-items-center justify-content-center">
                  <div class="text text-center">
                    <span class="subheading text-center">Hello!</span>
                    <h1 class="mb-4 mt-3 text-center">I'm <span>Akshay Wakle</span></h1>
                    <h2 class="mb-4 text-center">A Angular Developer</h2>
                    <p><a href="mailto:webdev.akshay@gmail.com" class="btn btn-primary text-center mt-3 pb-3 ms-3 me-2 pt-3 pb-3 ps-4 pe-4">Hire me</a>
                    <a class="btn btn-white btn-outline-white mt-3 pb-3 ms-3 me-2 pt-3 pb-3 ps-4 pe-4" href="Resume/AkshayWakleResume.pdf" download="akshaywakle-angular.pdf">
                      Download Resume
                    </a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="carousel-item pb-5 mt-5 mb-5">
        <div class="container">
          <div class="row d-md-flex  align-items-end justify-content-center">
            <div class="col-md-12">
              <div class=" d-flex align-items-center justify-content-center">
                <div class="text text-center">
                  <span class="subheading text-center">Hello!</span>
                  <h1 class="mb-4 mt-3 text-center">I'm a <span>Angular Developer</span></h1>
                  <h2 class="mb-4 text-center">based in Pune.</h2>
                  <p><a href="mailto:webdev.akshay@gmail.com" class="btn btn-primary text-center mt-3 pb-3 ms-3 me-2 pt-3 pb-3 ps-4 pe-4">Hire me</a>
                    <a href="#" class="btn btn-white btn-outline-white mt-3 pb-3 ms-3 me-2 pt-3 pb-3 ps-4 pe-4">Download Resume</a>
                    </p>
                  </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>
  </div>
  
</div>
<app-about></app-about>
<app-experience></app-experience>
<app-skills></app-skills>
<app-projects></app-projects>
<app-contact></app-contact>

<!-- <router-outlet></router-outlet> -->
