

.btn.btn-white {
  background: #fff !important;
  border: 1px solid #fff !important;
  color: #000000 !important;
}
.btn.btn-white:hover {
  border: 1px solid #000000;
  background: #fff !important;
  color: #fff;
}

.slider-text h1 {
  font-size: 48px;
  color: #fff;
  line-height: 1.2;
  font-weight: 400;
}

.slider-text p {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
}
.slider-text p strong {
  font-weight: 700;
}
.slider-text p strong a {
  color: #000000;
}

.slider-text .breadcrumbs {
  font-size: 12px;
  margin-bottom: 20px;
  z-index: 99;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}
.slider-text .breadcrumbs span {
  color: rgba(255, 255, 255, 0.8);
}
.slider-text .breadcrumbs span i {
  color: rgba(255, 255, 255, 0.8);
}
.slider-text .breadcrumbs span a {
  color: rgba(255, 255, 255, 0.8);
}
.slider-text .breadcrumbs span a:hover,
.slider-text .breadcrumbs span a:focus {
  color: #ffbd39;
}
.slider-text .breadcrumbs span a:hover i,
.slider-text .breadcrumbs span a:focus i {
  color: #ffbd39;
}

.slider-text .bread {
  font-weight: 700;
  color: #fff;
  font-size: 7vw;
}

.hero h3.vr {
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  text-orientation: sideways;
  text-align: center;
  text-orientation: sideways;
  margin: 0rem;
  position: absolute;
  top: 0;
  left: 4em;
  height: 100%;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 5px;
  font-size: 16px;
  z-index: 1;
  color: rgba(0, 0, 0, 0.3);
}
