<section class="pt-5 pb-5" id="projects">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <div class="card h-100">
          <div class="card-header">
            <div class="image">
              <img
              src="https://cdn.pixabay.com/photo/2018/03/08/08/22/bitcoin-3208074_1280.jpg"
            />
            </div>
          </div>
          <div class="card-body">
            <h2>Google Search Clone</h2>
            <p>**Google Clone** is an Angular-based search app using **SerpAPI** to fetch real-time results.</p>
          
            <div class="d-flex align-items-center action_btn">
              <button class="button1">
                <a href="">Go Live</a>
              </button>
              <button class="button2 ms-3">
                <a href="https://github.com/webdev-akshay/google-search-clone" target="_blank">Github</a>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card h-100">
          <div class="card-header">
            <div class="image">
              <img
              src="https://cdn.pixabay.com/photo/2018/03/08/08/22/bitcoin-3208074_1280.jpg"
            />
            </div>
          </div>
          <div class="card-body">
            <h2>E-Commerce Web App</h2>
            <p>An **S-commerce app** lets businesses sell products online with features like shopping carts, payments, and order tracking.</p>
          
            <div class="d-flex align-items-center action_btn">
              <button class="button1">
                <a href="">Go Live</a>
              </button>
              <button class="button2 ms-3">
                <a href="https://github.com/webdev-akshay/ecommerce-webapp" target="_blank">Github</a>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card h-100">
          <div class="card-header">
            <div class="image">
              <img
              src="https://cdn.pixabay.com/photo/2018/03/08/08/22/bitcoin-3208074_1280.jpg"
            />
            </div>
          </div>
          <div class="card-body">
            <h2>CRUD Web App</h2>
            <p>A **CRUD app** manages data with **Create, Read, Update, and Delete** operations, ideal for task managers or dashboards.</p>
          
            <div class="d-flex align-items-center action_btn">
              <button class="button1">
                <a href="">Go Live</a>
              </button>
              <button class="button2 ms-3">
                <a href="https://github.com/webdev-akshay/crud-app" target="_blank">Github</a>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card h-100">
          <div class="card-header">
            <div class="image">
              <img
              src="https://cdn.pixabay.com/photo/2018/03/08/08/22/bitcoin-3208074_1280.jpg"
            />
            </div>
          </div>
          <div class="card-body">
            <h2>Joke Telling Bot Web App</h2>
            <p>
              A Joke Telling Bot Web App delivers random jokes to users, offering a fun and interactive experience with just a click.
            </p>
            <div class="d-flex align-items-center action_btn">
              <button class="button1">
                <a href="">Go Live</a>
              </button>
              <button class="button2 ms-3">
                <a href="https://github.com/webdev-akshay/joke-telling-bot-app" target="_blank">Github</a>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card h-100">
          <div class="card-header">
            <div class="image">
              <img
              src="https://cdn.pixabay.com/photo/2018/03/08/08/22/bitcoin-3208074_1280.jpg"
            />
            </div>
          </div>
          <div class="card-body">
            <h2>Cat Facts</h2>
            <p>**Cat Facts App** is a fun Angular project that fetches random cat facts <br> via API. 🐱🚀</p>
            
            <div class="d-flex align-items-center action_btn">
              <button class="button1">
                <a href="">Go Live</a>
              </button>
              <button class="button2 ms-3">
                <a href="https://github.com/webdev-akshay/cat-facts" target="_blank">Github</a>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card h-100">
          <div class="card-header">
            <div class="image">
              <img
              src="https://cdn.pixabay.com/photo/2018/03/08/08/22/bitcoin-3208074_1280.jpg"
            />
            </div>
          </div>
          <div class="card-body">
            <h2>Random Jokes</h2>
            <p>**Random Jokes App** is a fun Angular project that fetches random jokes <br> via API. 🚀</p>
            
            <div class="d-flex align-items-center action_btn">
              <button class="button1">
                <a href="">Go Live</a>
              </button>
              <button class="button2 ms-3">
                <a href="https://github.com/webdev-akshay/getrandomjokes" target="_blank">Github</a>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card h-100">
          <div class="card-header">
            <div class="image">
              <img
              src="https://cdn.pixabay.com/photo/2018/03/08/08/22/bitcoin-3208074_1280.jpg"
            />
            </div>
          </div>
          <div class="card-body">
            <h2>Link Shortner Web App</h2>
            <p>
              A Link Shortener Web App converts long URLs into short, shareable links while tracking clicks and usage analytics.
            </p>
            <div class="d-flex align-items-center action_btn">
              <button class="button1">
                <a href="">Go Live</a>
              </button>
              <button class="button2 ms-3">
                <a href="https://github.com/webdev-akshay/link-shortner-webapp" target="_blank">Github</a>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card h-100">
          <div class="card-header">
            <div class="image">
              <img
              src="https://cdn.pixabay.com/photo/2018/03/08/08/22/bitcoin-3208074_1280.jpg"
            />
            </div>
          </div>
          <div class="card-body">
            <h2>Random User Generator Web App</h2>
            <p>**Random User Generator** is an Angular project that fetches and displays random user data using an API. 👤🚀</p>
           
            <div class="d-flex align-items-center action_btn">
              <button class="button1">
                <a href="">Go Live</a>
              </button>
              <button class="button2 ms-3">
                <a href="https://github.com/webdev-akshay/random-user-generator" target="_blank">Github</a>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card h-100">
          <div class="card-header">
            <div class="image">
              <img
              src="https://cdn.pixabay.com/photo/2018/03/08/08/22/bitcoin-3208074_1280.jpg"
            />
            </div>
          </div>
          <div class="card-body">
            <h2>Portfolio Web App</h2>
            <p>A **portfolio web app** showcases skills, projects, and experience, serving as a professional platform to attract employers.</p>
         
            <div class="d-flex align-items-center action_btn">
              <button class="button1">
                <a href="">Go Live</a>
              </button>
              <button class="button2 ms-3">
                <a href="https://github.com/webdev-akshay/portfolio" target="_blank">Github</a>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card h-100">
          <div class="card-header">
            <div class="image">
              <img
              src="https://cdn.pixabay.com/photo/2018/03/08/08/22/bitcoin-3208074_1280.jpg"
            />
            </div>
          </div>
          <div class="card-body">
            <h2>Image Search Gallery App</h2>
            <p>
              An **Image Search Gallery** app using the **Unsplash API** lets users search and view high-quality images in a responsive gallery.
            </p>
            <div class="d-flex align-items-center action_btn">
              <button class="button1">
                <a href="">Go Live</a>
              </button>
              <button class="button2 ms-3">
                <a href="https://github.com/webdev-akshay/image-search-gallary" target="_blank">Github</a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>