
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: rgba(255, 255, 255, 0.1);
  margin: 10px auto;
  border-radius: 15px;
  h2{
    font-weight: 900;
    font-size: 26px;
    color: #ffbd39;
  }
  
.image{
  margin:auto;
  width: 97%;
  }
  img {
      margin: 7px auto;
      border-radius: 15px;
      width: 100%;
}
span {
  background-color: #dae1dc;
  border-radius: 10px;
  font-size: 17px;
  display: inline-block;
  margin-top: 5px;
  margin-left: 10px;
  padding: 0px 8px 3px 8px;
}

p {
  font-size: 15px;
  color: #FFF;
}
button {
  border-radius: 25px;
  padding: 8px 15px;
  width: 110px;
}

.button1{
  background: #ffbd39;
  border: 1px solid #ffbd39 !important;
  color: #000 !important;
  font-size: 14px;
  font-weight: 600;
}
.button2{
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
    background: transparent !important;
    color: #fff !important;
    font-size: 14px;
    font-weight: 600;
}
}