<section class="pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <div class="image">
              <img
              src="https://cdn.pixabay.com/photo/2018/03/08/08/22/bitcoin-3208074_1280.jpg"
            />
            </div>
          </div>
          <div class="card-body">
            <h2>CRUD Web App</h2>
            <p>
              A cryptocurrency is a digital currency, which is an alternative form of
              payment created using encryption algorithms. The use of encryption
            </p>
            <div class="d-flex align-items-center">
              <button class="button1">
                Go Live
              </button>
              <button class="button2 ms-3">
                Github
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <div class="image">
              <img
              src="https://cdn.pixabay.com/photo/2018/03/08/08/22/bitcoin-3208074_1280.jpg"
            />
            </div>
          </div>
          <div class="card-body">
            <h2>Joke Telling Bot Web App</h2>
            <p>
              A cryptocurrency is a digital currency, which is an alternative form of
              payment created using encryption algorithms. The use of encryption
            </p>
            <div class="d-flex align-items-center">
              <button class="button1">
                Go Live
              </button>
              <button class="button2 ms-3">
                Github
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <div class="image">
              <img
              src="https://cdn.pixabay.com/photo/2018/03/08/08/22/bitcoin-3208074_1280.jpg"
            />
            </div>
          </div>
          <div class="card-body">
            <h2>Link Shortner Web App</h2>
            <p>
              A cryptocurrency is a digital currency, which is an alternative form of
              payment created using encryption algorithms. The use of encryption
            </p>
            <div class="d-flex align-items-center">
              <button class="button1">
                Go Live
              </button>
              <button class="button2 ms-3">
                Github
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <div class="image">
              <img
              src="https://cdn.pixabay.com/photo/2018/03/08/08/22/bitcoin-3208074_1280.jpg"
            />
            </div>
          </div>
          <div class="card-body">
            <h2>Portfolio Web App</h2>
            <p>
              A cryptocurrency is a digital currency, which is an alternative form of
              payment created using encryption algorithms. The use of encryption
            </p>
            <div class="d-flex align-items-center">
              <button class="button1">
                Go Live
              </button>
              <button class="button2 ms-3">
                Github
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>