<section class="ftco-section pb-5 pt-5" id="services-section">
  <div class="container">
    <div class="row justify-content-center py-5 mt-5">
      <div class="col-md-12 heading-section text-center ftco-animate">
        <h1 class="big big-2">Services</h1>
        <h2 class="mb-4">Services</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center d-flex ftco-animate">
        <a href="#" class="services-1">
          <span class="icon">
            <i class="flaticon-analysis"></i>
          </span>
          <div class="desc">
            <h3 class="mb-5">Web Developement</h3>
          </div>
        </a>
      </div>
      <div class="col-md-4 text-center d-flex ftco-animate">
        <a href="#" class="services-1">
          <span class="icon">
            <i class="flaticon-flasks"></i>
          </span>
          <div class="desc">
            <h3 class="mb-5">Mobile Friendly Web Design</h3>
          </div>
        </a>
      </div>
      <div class="col-md-4 text-center d-flex ftco-animate">
        <a href="#" class="services-1">
          <span class="icon">
            <i class="flaticon-ideas"></i>
          </span>
          <div class="desc">
            <h3 class="mb-5">User Experience (UX) Enhancements</h3>
          </div>
        </a>
      </div>

      <div class="col-md-4 text-center d-flex ftco-animate">
        <a href="#" class="services-1">
          <span class="icon">
            <i class="flaticon-analysis"></i>
          </span>
          <div class="desc">
            <h3 class="mb-5">Website Maintenance & Updates</h3>
          </div>
        </a>
      </div>
      <div class="col-md-4 text-center d-flex ftco-animate">
        <a href="#" class="services-1">
          <span class="icon">
            <i class="flaticon-flasks"></i>
          </span>
          <div class="desc">
            <h3 class="mb-5">Cross Browser Compatibility</h3>
          </div>
        </a>
      </div>
      <div class="col-md-4 text-center d-flex ftco-animate">
        <a href="#" class="services-1">
          <span class="icon">
            <i class="flaticon-ideas"></i>
          </span>
          <div class="desc">
            <h3 class="mb-5">Web Performance Optimization</h3>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
