<section class="ftco-section pb-5 pt-5" id="skills">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-md-12 heading-section text-center ftco-animate">
        <h1 class="big big-2">Skills</h1>
        <h2 class="mb-4">My Skills</h2>
      </div>
    </div>
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-10">
          <div class="row">
            <div class="col mb-3">
              <div class="card h-100">
                <div class="card-body d-grid justify-content-center m-auto">
                  <i class="fa-brands fa-angular m-auto"></i>
                  <span class="text-center">Angular</span>
                </div>
              </div>
            </div>
            <div class="col mb-3">
              <div class="card h-100">
                <div class="card-body d-grid justify-content-center m-auto">
                  <img class="m-auto"
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg"
                    alt="TypeScript Icon" width="40">
                  <span class="text-center">Typescript</span>
                </div>
              </div>
            </div>
            <div class="col mb-3">
              <div class="card h-100">
                <div class="card-body d-grid justify-content-center m-auto">
                  <i class="fa-brands fa-js m-auto"></i>
                  <span class="text-center">Javascript</span>
                </div>
              </div>
            </div>
            <div class="col mb-3">
              <div class="card h-100">
                <div class="card-body d-grid justify-content-center m-auto">
                  <img src="https://rxjs.dev/generated/images/marketing/home/Rx_Logo-512-512.png" alt="RxJS Icon"
                    width="40">

                  <span class="text-center">RxJs</span>
                </div>
              </div>
            </div>
            <div class="col mb-3">
              <div class="card h-100">
                <div class="card-body d-grid justify-content-center m-auto">
                  <i class="fa-brands fa-bootstrap m-auto"></i>
                  <span class="text-center">Bootstrap</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center">

        <div class="col-md-2 mb-3">
          <div class="card h-100">
            <div class="card-body d-grid justify-content-center m-auto">
              <i class="fa-brands fa-css3 m-auto"></i>
              <span class="text-center">CSS/SCSS</span>
            </div>
          </div>
        </div>
        <div class="col-md-2 mb-3">
          <div class="card h-100">
            <div class="card-body d-grid justify-content-center m-auto">
              <i class="fa-brands fa-html5 m-auto"></i>
              <span class="text-center">HTML</span>
            </div>
          </div>
        </div>
        <div class="col-md-2 mb-3">
          <div class="card h-100">
            <div class="card-body d-grid justify-content-center m-auto">
              <i class="fa-brands fa-jira m-auto"></i>
              <span class="text-center">Jira</span>
            </div>
          </div>
        </div>
        <div class="col-md-2 mb-3">
          <div class="card h-100">
            <div class="card-body d-grid justify-content-center m-auto">
              <i class="fa-brands fa-git m-auto"></i>
              <span class="text-center">GIT</span>
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row d-flex justify-content-center">

            <div class="col-md-2 mb-3">
              <div class="card h-100">
                <div class="card-body d-grid justify-content-center m-auto">
                  <svg class="m-auto" width="40" height="40" viewBox="0 0 24 24" fill="black"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M12 2C6.48 2 2 6.48 2 12C2 16.42 5.06 20.17 9.26 21.5C9.76 21.58 9.93 21.27 9.93 21V18.9C6.73 19.58 6.14 17.76 6.14 17.76C5.72 16.62 5.1 16.32 5.1 16.32C4.22 15.69 5.17 15.7 5.17 15.7C6.16 15.77 6.66 16.73 6.66 16.73C7.53 18.17 8.91 17.78 9.46 17.52C9.54 16.91 9.78 16.5 10.04 16.26C7.54 16 5.14 15 5.14 11.5C5.14 10.45 5.51 9.58 6.15 8.92C6.05 8.67 5.72 7.72 6.25 6.5C6.25 6.5 7.06 6.23 9.06 7.47C9.84 7.24 10.66 7.12 11.49 7.12C12.32 7.12 13.14 7.24 13.92 7.47C15.92 6.23 16.73 6.5 16.73 6.5C17.26 7.72 16.93 8.67 16.83 8.92C17.47 9.58 17.84 10.45 17.84 11.5C17.84 15 15.44 16 12.94 16.26C13.28 16.57 13.58 17.18 13.58 18.08V21C13.58 21.27 13.75 21.58 14.25 21.5C18.45 20.17 21.51 16.42 21.51 12C21.5 6.48 17.02 2 12 2Z" />
                  </svg>
                  <span class="text-center">GitHub</span>
                </div>
              </div>
            </div>
            <div class="col-md-2 mb-3">
              <div class="card h-100">
                <div class="card-body d-grid justify-content-center m-auto">
                  <i class="fa-brands fa-figma m-auto"></i>
                  <span class="text-center">Figma</span>
                </div>
              </div>
            </div>
            <div class="col-md-2 mb-3">
              <div class="card h-100">
                <div class="card-body d-grid justify-content-center m-auto">
                  <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/xd/xd-plain.svg" alt="Adobe XD Icon"
                    width="40" class="m-auto">
                  <span class="text-center pt-3">Adobe XD</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row d-flex justify-content-center">
            <div class="col-md-2 mb-3">
              <div class="card h-100">
                <div class="card-body d-grid justify-content-center m-auto">
                  <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postman/postman-original.svg"
                    alt="Postman Icon" width="40" class="m-auto">
                  <span class="text-center pt-3">Postman</span>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>