.fa-angular,
.fa-js,
.fa-bootstrap,
.fa-css3,
.fa-html5,
.fa-jira,
.fa-git,
.fa-figma{
  font-size: 50px;
  margin-bottom: 14px !important;
}
.fa-angular{
  color: red;
}
.fa-js{
  color: #FFE31A;
}
.fa-bootstrap{
  color: #7851b2;
}
.fa-css3{
  color: #254cdd;
}
.fa-html5{
  color: #f74a1d;
}
.fa-jira{
  color: #227df5;
}
.fa-git{
  color: #e84e31;
}
.fa-figma{
  color: #9d56f7;
}
.card{
  // color: #ffbd39;
  // font-weight: 600;
  font-size: 12px;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFF;
  background: rgba(255, 255, 255, 0.1);
}