
<section class="ftco-section ftco-no-pb" id="resume-section">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-md-10 heading-section text-center ftco-animate">
        <h1 class="big big-2">Experience</h1>
        <h2 class="mb-4">Experience</h2>
        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It
          is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="resume-wrap ftco-animate">
          <span class="date">Jun 2022 - Present</span>
          <h2>UI Developer</h2>
          <span class="position">Eduspace Technologies Pvt. Ltd</span>
          <p class="mt-4">Proctur is a leading Ed-tech company revolutionizing the digitization of
            educational institutes. It offers comprehensive solutions for online course sales, live
            teaching, exam conduction, and institute management. Trusted by over 3,000 coaching
            institutes across 125+ cities in India, Proctur serves 1 million students and 15,000 tutors.
            It's also recognized among the top 10 most promising education apps, with premium institutes
            using Proctur to manage multiple branches nationwide.</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-5">
      <div class="col-md-6 text-center ftco-animate">
        <p><a href="#" class="btn btn-primary py-4 px-5">Download CV</a></p>
      </div>
    </div>
  </div>
</section>
