.resume-wrap {
  width: 100%;
  margin-bottom: 30px;
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 5px; // The border-radius shorthand covers all browser prefixes

  .date {
    font-weight: 900;
    font-size: 26px;
    color: #ffbd39;
  }

  h2 {
    font-size: 26px;
  }

  .position {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}
